{% extends "base.html" %}

{% block title %}5C Course Reviews{% endblock %}

{% block content %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=1400896836852689";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="jumbotron">

<div class="fb-like" data-href="http://novemberbaez.heroku" data-width="1000" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

  <h2>Welcome to 5C Course Reviews!</h2>
  <p>You can read tons of reviews written about any course at the 5Cs. Search courses by major or school, and write your own reviews, too!</p>
</div>
<form action="{{ url_for('classes_for_major') }}" method="get" class="search-box">
  <select data-placeholder="Choose a major..." class="chosen-select major" name="major">
    <option></option>
    <option value="any">Any</option>
    {% for code, major in majors|dictsort %}
    <option value="{{ code }}">{{ major }}</option>
    {% endfor %}
  </select>
  <select data-placeholder="Choose a school..." class="chosen-select school" name="school">
    <option></option>
    <option value="any">All</option>
    <option value="PO">Pomona</option>
    <option value="HMC">Harvey Mudd</option>
    <option value="CMC">Claremont McKenna</option>
    <option value="SC">Scripps</option>
    <option value="PZ">Pitzer</option>
  </select>
  <button type="submit"  class="btn btn-warning btn-lg">Search!</button>
</form>
{% endblock %}

{% block scripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='chosen/chosen.jquery.js') }}"></script>
<script>
    $('.chosen-select').chosen();
</script>
{% endblock %}
